<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="{{url_for('static', filename='img/logo.png')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/" class="logo"><h2>World News</h2></a>
        <ul class= "menu">
            <li class="nav-items"><a href='/'>Home</a></li>
            <li class="nav-items"><a href='/'>News</a></li>
            <li class="nav-items"><a href='/'>About us</a></li>
            <li class="nav-items"><a href='/'>Contact</a></li>
            <div id="google_element"></div>
        </ul>
    </nav>
    
<section id="main">
    <div class="banner"><img src="{{url_for('static',filename='news.png')}}">
    </div>
    <div class = "head">TODAY'S TOP HEADLINES</div>
    {% for title,desc,img,p_date,url in contents %}
    <div class="wrapper">
        <div class="item"><a href="{{url}}"><img src="{{img}}"></a></div>
        <div class = "c-box">
        <div class="content"><h2 style="color:rgb(41, 41, 37);">HEADLINES:- </h2><a href="{{url}}"><h2>{{title}}</h2></a></div>
        <div class="content"><a href="{{url}}"><p>{{desc}}</p></a></div>
        <div class="content"><p style="color:rgb(41, 41, 37);">Publish Date:- </p><p>{{p_date}}</p></div>
        </div>
        </div> 
    {% endfor %}  
    
    <div class = "head">TODAY'S NEWS</div>
    {% for title,desc,img,p_date,url in all %}
    <div class="wrapper">
        <div class="item"><a href="{{url}}"><img src="{{img}}"></a></div>
        <div class = "c-box">
        <div class="content"><h2 style="color:rgb(41, 41, 37);">HEADLINES:- </h2><a href="{{url}}"><h2>{{title}}</h2></a></div>
        <div class="content"><p>{{desc}}</p></div>
        <div class="content"><p style="color:rgb(41, 41, 37);">Publish Date:- </p><p> {{p_date}} </p></div>
        </div>
        </div> 
    {% endfor %}
</section>
<footer>

<div class="head-f"><h2> Copyright &copy; World News</h2></div>
</footer>

<script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
<script>
    function loadGoogleTranslate(){
        new google.translate.TranslateElement(
            "google_element");
    }
</script>
</body>
</html>
